#imagenes
  %div{:class => "coda-slider-wrapper"}
    %div{:class=>"coda-slider preload", :id=>"coda-slider-imagenes"}
      - lista_imagenes_recortable.each do |i|
        %div.panel
          %div.panel-wrapper
            %div.centrada
              = image_tag i, :size => "400x400"
