- title "Recortable"

%p
  %strong Modelo:
  = @recortable.modelo.try(:nombre)

%p
  %strong Complejidad:
  =h @recortable.complejidad

%p
  %strong Color de fondo:
  =h @recortable.color_fondo

%p
  %strong Color aristas:
  =h @recortable.color_aristas

%p
  %strong Grosor aristas:
  =h @recortable.grosor_aristas

%p
  %strong Textura:
  =h @recortable.textura


%p
  = link_to "Edit", edit_recortable_path(@recortable) 
  = link_to "Destroy", @recortable, :confirm => 'Are you sure?', :method => :delete  
  = link_to "View All", recortables_path 

