/* line 6, ../../app/stylesheets/application.scss */
form.bp input.text,
form.bp input.title,
form.bp input[type="email"],
form.bp input[type="text"],
form.bp input[type="password"] {
  width: 80px;
}

/* line 12, ../../app/stylesheets/application.scss */
.invisible {
  display: none;
  visibility: hidden;
}

/* line 16, ../../app/stylesheets/application.scss */
div.pantalla_formulario {
  background-color: #0022aa;
  width: 970px;
  height: 360px;
  margin-top: 0px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* line 25, ../../app/stylesheets/application.scss */
.caja {
  margin: 0 auto;
  width: 910px;
  height: 360px;
  padding: 3px;
  border: 1px solid #cccccc;
  -moz-border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px #999999;
  -moz-box-shadow: 2px 2px 5px #999999;
}
/* line 34, ../../app/stylesheets/application.scss */
.caja .title {
  font-weight: bold;
  background-color: #eeeeee;
  padding: 5px;
  color: #333333;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}
/* line 41, ../../app/stylesheets/application.scss */
.caja form {
  padding: 10px;
}
/* line 43, ../../app/stylesheets/application.scss */
.caja form .acciones {
  text-align: right;
}
/* line 45, ../../app/stylesheets/application.scss */
.caja .bloque {
  margin: 2em auto;
  height: 200px;
  float: left;
  width: 150px;
}
/* line 50, ../../app/stylesheets/application.scss */
.caja .c_fondo {
  width: 200px;
}
/* line 52, ../../app/stylesheets/application.scss */
.caja .c_aristas {
  width: 200px;
}
/* line 54, ../../app/stylesheets/application.scss */
.caja .g_aristas {
  width: 90px;
  text-align: left;
}
/* line 57, ../../app/stylesheets/application.scss */
.caja .textura {
  width: 300px;
  height: 200px;
}
/* line 60, ../../app/stylesheets/application.scss */
.caja .previsualizar {
  width: 110px;
}

/* line 63, ../../app/stylesheets/application.scss */
td {
  vertical-align: top;
}
