/* line 1, ../../app/stylesheets/easySlider.sass */
#slider ul, #slider li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 6, ../../app/stylesheets/easySlider.sass */
#slider, #slider li {
  width: 480px;
  height: 480px;
  overflow: hidden;
}

/* line 11, ../../app/stylesheets/easySlider.sass */
span#prevBtn a {
  display: inline;
  cursor: pointer;
  background: url(images/rails.png) no-repeat;
  width: 51px;
  height: 19px;
  text-indent: -9000px;
}
