/* line 1, ../../app/stylesheets/easySlider.sass */
#slider ul, #slider li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 6, ../../app/stylesheets/easySlider.sass */
#slider, #slider li {
  width: 400px;
  height: 400px;
  overflow: hidden;
}

/* line 11, ../../app/stylesheets/easySlider.sass */
div#slider {
  margin-left: 335px;
}

/* line 15, ../../app/stylesheets/easySlider.sass */
#prevBtn, #nextBtn {
  display: block;
  width: 30px;
  height: 77px;
  position: absolute;
  margin-left: 250px;
  top: 71px;
}

/* line 23, ../../app/stylesheets/easySlider.sass */
#nextBtn {
  margin-left: 750px;
}

/* line 26, ../../app/stylesheets/easySlider.sass */
#prevBtn a, #nextBtn a {
  display: block;
  width: 30px;
  height: 77px;
  background: url(/images/prev.gif) no-repeat 0 0;
}

/* line 32, ../../app/stylesheets/easySlider.sass */
#nextBtn a {
  background: url(/images/next.gif) no-repeat 0 0;
}
