#slider_imagenes ul, #slider_imagenes li {
  margin: 0;
  padding: 0;
  list-style: none; }

#slider_imagenes, #slider_imagenes li {
  width: 300px;
  height: 320px;
  overflow: hidden; }

div#slider_imagenes {
  margin-left: 335px;  
 }

#prevBtn_imagenes, #nextBtn_imagenes {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: 142px;
  top: 70px; }

#nextBtn_imagenes {
  margin-left: 828px; }

#prevBtn_imagenes a, #nextBtn_imagenes a {
  display: block;
  width: 64px;
  height: 64px;
  background: url(/images/flecha_izquierda.png) no-repeat 0 0; }

#nextBtn_imagenes a {
  background: url(/images/flecha_derecha.png) no-repeat 0 0; }

/////////////////////////////////////////////////////

#slider_formulario ul, #slider_formulario li {
  margin: 0;
  padding: 0;
  list-style: none; }

#slider_formulario, #slider_formulario li {
  width: 960px;
  height: 400px;
  overflow: hidden;
  //background-color: #111
}

div#slider_formulario {
  margin-left: 0px; }

#prevBtn_formulario, #nextBtn_formulario {
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  margin-left: 10px;
  top: 480px;
  /*top: 370px */ }

#nextBtn_formulario {
  margin-left: 896px; }

#prevBtn_formulario a, #nextBtn_formulario a {
  display: block;
  width: 64px;
  height: 64px;
  background: url(/images/flecha_izquierda.png) no-repeat 0 0; }

#nextBtn_formulario a {
  background: url(/images/flecha_derecha.png) no-repeat 0 0; }
